.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 99;

  &__overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 100;
  }

  &__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 1.5rem;
    z-index: 1000;
    border-radius: 1rem;
  }
}

@import "./modals/DeleteModal/delete-modal";
@import "./modals/SendEmailModal/send-email";
@import "./modals/NewsModal/news-modal";
