.send-email {
  &__title {
    padding: 0.5rem 0;
  }

  &__message {
    display: block;
    margin: 1rem 0;
    padding: 1rem 1.5rem;
    border: 1px solid #ccc;
    border-radius: 0.8rem;
    font-size: 1.6rem;
  }
}
