@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
  height: 100vh;
}

body {
  font-size: 1.6rem;
  height: 100%;
}

#root {
  height: 100%;
}
