.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #ccc;

  &__link {
    text-decoration: none;
    color: $green-primary;
    font-size: 2.1rem;
    font-weight: bold;
    transition: all 0.3s;
    display: inline-block;
    margin: 0 1.5rem;

    &:hover {
      color: darken($green-primary, 5);
    }
  }
}
