.btn {
  &__default {
    background-color: $green-primary;
    &:hover {
      background-color: darken($color: $green-primary, $amount: 5);
    }
  }

  &__delete {
    background-color: $red-primary;
    &:hover {
      background-color: darken($color: $red-primary, $amount: 5);
    }
  }

  border: none;
  border-radius: 0.8rem;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}
