.course {
  border: 1px solid $green-primary;
  border-radius: 0.8rem;
  display: flex;
  margin: 2rem 0;
  overflow: hidden;

  &__desc {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-size: 2.2rem;
  }

  &__shortdesc {
    margin: 2rem 0;
  }

  &__open {
    width: 25rem;
  }
}
