.auth {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin-bottom: 2rem;
    font-size: 3.6rem;
  }

  &__subtitle {
    margin-bottom: 4rem;
    color: #aaa;
  }

  &__form {
    border-radius: 0.4rem;
    padding: 2rem 5rem;
    box-shadow: 0 -1px 14px 4px rgba(0, 0, 0, 0.09);
    text-align: center;
  }

  &__input {
    display: block;
    margin: 3rem 0;

    &:last-child {
      margin: 2rem 0;
    }
  }

  &__btn {
    width: 14rem;
  }
}
