.news {
  padding: 0.5rem 1.8rem;
  border: 1px solid #ccc;
  border-radius: 0.6rem;
  width: 30rem;

  & + & {
    margin: 0 3rem;
  }

  &__title {
    border-bottom: 1px solid #ccc;
    font-size: 1.8rem;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__description {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0.8rem 0;
  }

  &__add {
    width: 100%;
    height: 100%;
    font-size: 6rem;
    font-weight: bold;
    color: $green-primary;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  &__btn {
    font-size: 2.2rem;
    padding: 0.4rem 1rem;
  }
}
