.user-card {
  border-radius: 0.6rem;
  width: 40rem;
  padding: 1.1rem;
  box-shadow: 0 -1px 14px 4px rgba(0, 0, 0, 0.09);
  display: inline-block;

  &__roles {
    margin-bottom: 1rem;
    text-transform: capitalize;
  }

  &__table {
    border-collapse: collapse;
    width: 100%;

    &-row {
      transition: all 0.25s;

      &:hover {
        background-color: #ddd;
      }
    }

    &-title,
    &-data {
      border: 1px solid #ddd;
      padding: 0.8rem 1.2rem;
      font-size: 1.8rem;
    }

    &-title {
      text-align: left;
    }

    &-data {
      text-align: right;
    }
  }

  &__btn-container {
    margin-top: 1rem;
    text-align: center;
  }

  &__send {
    background-color: $purple-primary;
    margin: 0 2rem;

    &:hover {
      background-color: darken($color: $purple-primary, $amount: 5);
    }
  }
}
