@mixin inputFocusedLabel {
  top: -0.8rem;
  left: 0;
  font-size: 1.3rem;
}

.input {
  display: inline-flex;
  flex-direction: column;
  position: relative;

  &__control {
    border: 1px solid #ccc;
    padding: 0.7rem 1.2rem;
    font-size: 1.5rem;
    border-radius: 0.4rem;

    &:focus + span {
      @include inputFocusedLabel;
    }
  }

  &__label {
    color: #aaa;
    font-size: 1.7rem;
    position: absolute;
    top: 45%;
    left: 1rem;
    transform: translateY(-50%);
    transition: all 0.3s;

    &-value {
      @include inputFocusedLabel;
    }
  }

  &__error {
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    font-size: 1.2rem;
    color: red;
  }
}
